.heading__1 {
    text-transform: uppercase;
    font-size: 5rem;

    @media only screen and (max-width:37.5rem) {
        font-size: 3rem;
    }

    font-weight: 500;
    letter-spacing: .2rem;
    color: $color-primary;

    &--subheading {
        display: inline-block;
        color: lighten($color-primary, 15%);
        animation: slide 1s ease-in-out;
    }
}

.heading__2 {
    text-transform: capitalize;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 8rem;
    letter-spacing: .2rem;
    color: #000;
    animation: slide_vertical 1s ease-in-out;
}
.college{
    grid-column: 1/-1;
    &__list{
        @media only screen and (max-width: 65.635em){
            width: 100%;
        }
        @media only screen and (max-width: 65.635em){
            visibility: hidden;
        }

        display: flex;
        position: fixed;
        background-color: white;
        height: 10vh;
        width: 97.5%;
        z-index: 10;
        column-gap: 2.5rem;
        font-size: 1.6rem;
        font-weight: 500;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
        list-style: none;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .6);
        padding-right: 2rem;
        
        &__link:visited,&__link{
            height: 100%;
            text-decoration: none;
            color: $color-primary;
            padding: 0 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__item{
            display: inline-block;
            height: 100%;
            min-width: 10rem;
            transition: all .3s ease-in-out;
            border-radius: 0 0 1.5rem 1.5rem;
            overflow-wrap: break-word;
            text-align: center;
        }
        &__item:hover,&__item--active{
            height: 100%;
            background-color: $color-primary;
            // border-radius: 1.5rem;
        }
        &__item:hover &__link{
            height: 100%;
            color: white;
        }
    }
}


.profile {
    background-image: linear-gradient(180deg, $color-white-dark, $color-white-light);
    // clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
    grid-column: 1/-1;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 5rem 0;
    }

    &__photo {
        margin-top: .5rem;
        @media only screen and (orientation:landscape) {
            margin-top: 1rem;
        }
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        clip-path: circle(50%);
        transform: scale(1.08);
        margin-bottom: 3rem;
        position: relative;
        filter: brightness(110%) saturate(150%);
        border: 1px solid $color-grey-light;
        transition: all .3s;

        &:hover {
            transform: scale(1);
            filter: brightness(100%);
            cursor: default;
        }
    }

    &__name {
        font-size: 2.2rem;
        font-weight: 600;
        text-transform: uppercase;
        color: lighten(black, 30%);
    }

    &__designation {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 3rem;
        color: $color-tertiary;
        animation: slide_vertical 1s ease-in-out;
    }
}

.contact {
    grid-row: 3/4;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    background-image: linear-gradient(110deg, $color-secondary 50%, $color-white-light 50%);

    @media only screen and (max-width:50em) {
        background-image: linear-gradient(to right, $color-secondary 50%, $color-white-light 50%);

    }

    @media only screen and (max-width:37.5em) {
        display: grid;
        ;
        grid-template-columns: 1fr;
        background-image: linear-gradient(to bottom, $color-secondary 50%, $color-white-light 50%);
    }

    &__heading {
        font-size: 5rem;
        font-weight: 100;
        letter-spacing: .3rem;
        align-self: center;
        padding-bottom: 1.5rem;
        color: $color-white-dark;
        border-bottom: 1px solid $color-white-dark;
        position: relative;
        overflow-wrap: break-word;

        &::before {
            content: "Contact Details";
            display: inline-block;
            width: 0%;
            height: 100%;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            overflow: hidden;
            transition: all .1s ease-in-out;
        }

        &:hover::before {
            background-color: $color-white-dark;
            color: $color-primary;
            width: 100%;
            opacity: 1;
            visibility: visible;
            cursor: default;
        }
    }

    &__details {
        padding-top: 1rem;
        flex: 0 1 40rem;
        display: flex;
        flex-direction: column;
        row-gap: 10rem;
        margin-left: 2rem;

        @media only screen and (max-width:37.5em) {
            row-gap: 5rem;
        }
    }

    &__icon {
        height: 3rem;
        width: 3rem;
        fill: $color-white-light;
        margin: 0 2.5rem;
    }

    .detail {
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: .3rem;
        color: lighten($color-primary, 60%);
    }
}

.education {
    height: 100%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width:37.5em) {
        margin-top: 5rem;
    }

    gap: 10rem;

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5rem;
        margin-left: 3.8rem;
        // @media only screen and (max-width:1350px) {
        //     column-gap: 2rem;
        // }
    }

    &__heading {
        font-size: 4rem;
        width: max-content;
        align-self: center;
        padding: 1rem;
        font-weight: 100;
        letter-spacing: .3rem;
        margin: 1.5rem 0 0 4rem;
        color: $color-secondary;

        position: relative;
        border-bottom: 1px solid $color-secondary;
    }

    .course {
        font-size: 1.8rem;
        padding-bottom: 1rem;
        font-weight: 600;
        color: $color-grey-dark;
    }

    .year {
        font-size: 1.2rem;
        color: $color-tertiary;
        font-style: italic;

    }

    .institution {
        font-size: 1.2rem;
        font-weight: 500;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 1.5rem;
        overflow-wrap: break-word;

    }

    &__3 {
        grid-column: 1/-1;
    }
}

.experience {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: baseline;
    background-color: $color-white-light;
    gap: 1.5rem;

    .carrerProfile {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;


        position: relative;

        &__heading {
            display: inline-block;
            font-size: 2.6rem;
            font-weight: 300;
            text-transform: capitalize;
            letter-spacing: .2rem;
            color: $color-primary;
            padding-top: .5rem;

        }

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 100%;
            left: 0;
            height: .1rem;
            width: 0%;
            z-index: 1;
            background-color: $color-primary;
            transition: all .3s ease-in-out;
        }

        &:hover::after {
            width: 100%;
            cursor: default;
        }

        &__list {
            display: flex;
            flex-direction: column;
            height: 50%;
            gap: 1.1rem;
            color: darken($color-grey-light, 30%);
            list-style: circle;
            width: 90%;
            font-size: 1.2rem;
        }
    }

    .adminAssignment {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;

        &__heading {
            font-size: 2.6rem;
            font-weight: 300;
            text-transform: capitalize;
            letter-spacing: .2rem;
            color: $color-primary;
            padding-top: .5rem;

        }

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 100%;
            left: 0;
            height: .1rem;
            width: 0%;
            z-index: 1;
            background-color: $color-primary;
            transition: all .3s ease-in-out;
        }

        &:hover::after {
            width: 100%;
            cursor: default;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 1.1rem;
            color: darken($color-grey-light, 30%);
            list-style: circle;
            width: 90%;
            font-size: 1.2rem;
            height: 50%;

        }
    }

    .specialization {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;

        &__heading {
            font-size: 2.6rem;
            font-weight: 300;
            text-transform: capitalize;
            letter-spacing: .2rem;
            color: $color-primary;
            padding-top: .5rem;

        }

        &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 100%;
            left: 0;
            height: .1rem;
            width: 0%;
            z-index: 1;
            background-color: $color-primary;
            transition: all .3s ease-in-out;
        }

        &:hover::after {
            width: 100%;
            cursor: default;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 1.1rem;
            color: darken($color-grey-light, 30%);
            list-style: circle;
            width: 90%;
            font-size: 1.2rem;
            height: 50%;
        }
    }
}

.research {
    grid-column: -1/1;
    background-image: linear-gradient(to bottom, $color-white-light 55%, $color-white-dark);
    overflow: scroll;


    &__container {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }

    &__ongoing {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 2rem;

        &__heading {
            text-transform: capitalize;
            font-size: 2.5rem;
            font-weight: 600;
            color: darken($color-tertiary, 10%);
            width: 50%;
            align-self: center;
            padding-bottom: 2rem;
            border-bottom: 1px solid $color-grey-dark;
        }

        &__list {
            display: flex;
            list-style: circle;
            flex-direction: column;
            gap: 2.5rem;
            align-items: baseline;
            font-size: 1.4rem;
            color: darken($color-grey-light, 10%);
            width: 90%;
        }
    }

    &__completed {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__heading {
            text-transform: capitalize;
            font-size: 2.5rem;
            font-weight: 600;
            color: darken($color-tertiary, 10%);
            width: 50%;
            align-self: center;
            // padding-bottom: 2rem;
            border-bottom: 1px solid $color-grey-dark;
        }

        &__list {
            display: flex;
            list-style: circle;
            flex-direction: column;
            gap: 2.5rem;
            align-items: baseline;
            font-size: 1.4rem;
            color: darken($color-grey-light, 10%);
            width: 90%;
        }
    }
}

.patentsPubs {
    background-image: linear-gradient(to right bottom, $color-primary, $color-secondary, $color-tertiary);
    // clip-path: polygon(100% 0, 100% 80vh, 0 100%, 0 0);
    width: 100%;
    grid-column: 1/-1;
    text-align: center;

    &__container {
        display: grid;
        column-gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
        align-items: flex-start;
    }

    &__content__container {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        align-items: center;
        justify-content: baseline;
        padding: 0 2.5rem;
        border-right: 1px solid $color-white-dark;
    }

    &__heading {
        color: $color-white-light;
        font-size: 2.2rem;
        align-self: center;
        justify-self: center;
        outline: 0px solid #777;
        padding: 3rem .5rem;
        transition: all .1s ease-in;

        &:hover {
            outline: 3px solid #777;
            cursor: default;
            transform: scale(1.08);
        }
    }

    &__list {
        list-style: circle;
        color: lighten($color-grey-light, 30%);
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 2rem;
        margin-left: 2.5rem;
        overflow-wrap: break-word;

        &>li {
            margin-top: .5rem;
        }
    }
}

.publications {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: $color-white-light;

    &__list {
        display: grid;
        align-items: center;
        justify-content: center;
        margin-left: 3rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 3rem;
        font-size: 1.2rem;
        list-style: circle;
        color: darken($color-grey-dark, 30%);
    }

    &__heading {
        align-self: center;
        margin-top: 1.5rem;
        padding: 0 5rem;
        width: max-content;
        outline: 2px solid $color-secondary;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .6);

        &:hover {
            outline-offset: 1rem;
            transform: scale(1.01);
            box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
        }
    }
}

.book {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: $color-white-light;

    @media only screen and (max-width: 65.635em) {
        align-items: center;
        justify-content: center;
    }

    &__heading {
        align-self: center;
        margin-top: 3.5rem;
        padding: 0 5rem;
        width: max-content;
        outline: 2px solid $color-secondary;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .6);

        &:hover {
            outline-offset: 1rem;
            transform: scale(1.01);
            box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
        }
    }

    &__list {
        display: grid;
        margin-left: 2.5rem;
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: max-content;
        justify-items: center;
        gap: 1rem;
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 2rem;
        color: darken($color-grey-dark, 10%);
        overflow-wrap: break-word;
    }
}

.awards {
    @media only screen and (max-width:37.5rem) {
        grid-column: 1/-1;
    }

    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
    height: 100%;

    &__heading {
        font-size: 4rem;
        color: $color-white-light;
        border-bottom: 1px solid $color-white-dark;
        padding-bottom: 5rem;
    }

    &__list {
        font-size: 1.5rem;
        font-style: italic;
        color: lighten($color-grey-light, 30%);
        line-height: 2rem;
        list-style: circle;
        margin-left: 2.5rem;
        overflow-wrap: break-word;

        li {
            margin-bottom: 2.5rem;
        }
    }
}

.association {
    @media only screen and (max-width:37.5rem) {
        grid-column: 1/-1;
    }

    background-color: $color-white-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    justify-content: space-evenly;
    height: 100%;

    &__heading {
        font-size: 3rem;
        margin-top: -4rem;

        @media only screen and (max-width:37.5rem) {
            margin-top: 2rem;
            padding-bottom: 3rem;
        }

        color: $color-grey-light;
        border-bottom: 1px solid black;
        padding-bottom: 5rem;
    }

    &__list {
        font-size: 1.5rem;
        font-style: italic;
        color: $color-grey-dark;
        line-height: 2rem;
        list-style: circle;
        overflow-wrap: break-word;

        @media only screen and (max-width:37.5rem) {
            margin-top: 3rem;
        }

        li {
            margin-bottom: 5rem;
        }
    }
}

// password : Bksdp21@Ma17

.btn{
    width: 15rem;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white-dark;
    height: 5rem;
    text-decoration: none;
    font-size: 1.6rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .6);

    transition: all .3s ease-in-out;
    margin-top:2rem;
}
.btn:hover{
    color: $color-primary;
    background-color: $color-white-dark;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .3);
    outline: 1px solid $color-primary;
}
.hamburger{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    margin-right: 5rem;
    margin-top: 5rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .6);
    display: none;
    @media only screen and (max-width: 65.635em){
        display: block;
    }
    
    &__label{
        position: relative;
        display: inline-block;
        margin-top: 5rem;
        left: 20%;
        width: 60%;
        height: .6rem;
        background-color: white;
    }
    &__label::after{
        content: "";
        display: inline-block;
        position: absolute;
        background-color: white;
        width: 100%;
        height: 100%;
        top: 1rem;
        left: .1rem;
        transition: all .3s ease-in-out;
    }
    &__label::before{
        content: "";
        display: inline-block;
        position: absolute;
        background-color: white;
        width: 100%;
        height: 100%;
        top: -1rem;
        transition: all .3s ease-in-out;
    }
    
    &__background{
        height: 11rem;
        width: 11rem;
        background-image: radial-gradient(ellipse,$color-primary,$color-secondary);
        border-radius: 50%;
        position: absolute;
        z-index: -1;
        top: 0;
        transition: 1s all cubic-bezier(.41,.49,.06,.98);
        
    }
    &__content{
        font-size: 5rem;
        @media only screen and (orientation:landscape) {
            font-size: 1.5rem;
        }
        color: white;
        // transform: scale(0.0125);
        height: 100%;
        width: 0;
        transform: translate(-50vw);
        // margin-top: -1rem;
        visibility: hidden;
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media only screen and (orientation:landscape) {
            gap: 3rem;
        }
        gap: 10rem;
        list-style: none;
    }
    &__link,&__link:active{
        height: 100%;
        color: $color-white-dark;
        text-decoration: none;
        transition: all .3s ease-in-out;
    }
    &__link:hover{
        background-color: $color-white-light;
        color: $color-primary;
    }
    &__check{
        // display: none;
        position: absolute;
        height: 100%;
        width:100%;
        top: 0;
        left: 0;
        opacity: 0;
    }
    &__check:checked ~ &__background{
        transform: scale(80);
    }
    &__check:checked ~ &__label::after{
        transform:rotate(135deg);
        top: -1rem;
    }
    &__check:checked ~ &__label::before{
        transform:rotate(-135deg);
    }
    &__check:checked ~ &__label{
        background-color: transparent;
    }
    &__check:checked ~ &__content{
        visibility: visible;
    }
    
}
