$background-color : #222121;
// $background-color : #171212;

$font-poppins : "Poppins", "Times New Roman";

$color-primary : #1F51FF;
$shadow-primary : rgba(0,0,0,.6);
$shadow-secondary : rgba(0,0,0,.4);