@property --bg {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

@keyframes slide {
  0% {
    transform: translateX(-5rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide_vertical {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes backgroundAnimation {
  to {
    --bg: 10%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-align: justify;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 10rem;
  font-family: sans-serif;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 43.75%;
  }
}

@media only screen and (max-width: 46.875em) {
  html {
    font-size: 37.5%;
  }
}

body {
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

.container {
  display: grid;
  height: clamp(100rem, 100vh, 100vh);
  width: clamp(100%, 100vw, 100vw);
  grid-template-rows: 0vh 100vh 100vh 75vh 100vh 75vh max-content 80vh 75vh;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
}

@media only screen and (max-width: 40.635em) {
  .container {
    grid-template-rows: 0vh 100vh 100vh 75vh 100vh 75vh max-content 100vh 80vh 50vh;
    grid-template-columns: 1fr;
  }
}

section {
  opacity: 0.3;
  transition: all .3s ease-in-out;
  padding: 0 2rem;
}

.show {
  opacity: 1;
}

.animate {
  animation: backgroundAnimation 1s forwards ease-in-out;
}

::selection {
  color: #7f0d46;
  background-color: white;
}

.heading__1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: .2rem;
  color: #7f0d46;
}

.heading__1--subheading {
  display: inline-block;
  color: #c4146c;
  animation: slide 1s ease-in-out;
}

.heading__2 {
  text-transform: capitalize;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 8rem;
  letter-spacing: .2rem;
  color: #000;
  animation: slide_vertical 1s ease-in-out;
}

.college {
  grid-column: 1/-1;
}

.college__list {
  display: flex;
  position: fixed;
  background-color: white;
  height: 10vh;
  width: 100%;
  z-index: 10;
  column-gap: 2.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  list-style: none;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  padding-right: 2rem;
  border-radius: 0 0 1.5rem 1.5rem;
}

@media only screen and (max-width: 40.625em) {
  .college__list {
    visibility: hidden;
    width: 100%;
  }
}

.college__list__link:visited,
.college__list__link {
  height: 100%;
  text-decoration: none;
  color: #7f0d46;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.college__list__item {
  display: inline-block;
  height: 100%;
  min-width: 10rem;
  transition: all .3s ease-in-out;
  border-radius: 0 0 1.5rem 1.5rem;
  overflow-wrap: break-word;
  text-align: center;
}

.college__list__item:hover {
  height: 100%;
  background-color: #7f0d46;
}

.college__list__item:hover .college__list__link {
  height: 100%;
  color: white;
}

.college__list__item--active {
  height: 100%;
  background-color: #7f0d46;
}

.college__list__item--active .college__list__link {
  height: 100%;
  color: white;
}

.profile {
  background-image: linear-gradient(110deg, #fff, #eeeeee 50%, #A4243B 50%);
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 43.75em) {
  .profile {
    background-image: linear-gradient(180deg, #fff, #eeeeee 60%, #A4243B 60%);
    flex-direction: column;
  }
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 5rem 25rem;
}

@media only screen and (max-width: 43.75em) {
  .profile__container {
    align-items: center;
  }
}

.profile__photo {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
  transform: scale(1.08);
  margin-bottom: 3rem;
  position: relative;
  filter: brightness(110%) saturate(150%);
  border: 1px solid #777;
  transition: all .3s;
}

.profile__photo:hover {
  transform: scale(1);
  filter: brightness(100%);
  cursor: default;
}

.profile__name {
  font-size: 2.1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #4d4d4d;
  text-align: center;
}

.profile__designation {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 3rem;
  color: #d9534f;
  animation: slide_vertical 1s ease-in-out;
}

.contact {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  height: 100%;
  place-items: center;
}

@media only screen and (max-width: 43.75em) {
  .contact {
    width: 90%;
    height: 60%;
  }
}

@media only screen and (orientation: landscape) and (max-width: 40.625em) {
  .contact {
    height: 60%;
  }
}

.contact__heading {
  font-size: 4rem;
  font-weight: 100;
  letter-spacing: .3rem;
  align-self: center;
  color: #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 43.75em) {
  .contact__heading {
    font-size: 3.5rem;
  }
}

.contact__details {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  margin-right: 5rem;
  text-wrap: balance;
}

.contact__icon {
  height: 3rem;
  width: 3rem;
  fill: #eeeeee;
  margin: 0 2.5rem;
}

.contact .detail {
  font-size: 1.8rem;
  font-weight: 200;
  letter-spacing: .3rem;
  color: #f9c5df;
}

@media only screen and (max-width: 43.75em) {
  .contact .detail {
    font-size: 1.6rem;
  }
}

.education {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-column: 1/-1;
  background: linear-gradient(120deg, #A4243B var(--bg), #eee var(--bg));
}

.education__container {
  display: flex;
  text-align: center;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  row-gap: 5rem;
  padding: 0 5rem;
}

.education__heading {
  font-size: 6.8rem;
  font-family: "Poppins";
  width: clamp(max-content, 100%, 50vw);
  padding: 1rem;
  font-weight: 300;
  letter-spacing: .3rem;
  margin: 1.5rem 0 0 4rem;
  color: #A4243B;
  position: relative;
  border-bottom: 1px solid #A4243B;
  text-wrap: balance;
}

.education .course {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-weight: 600;
  color: #666;
}

.education .year {
  font-size: 1.5rem;
  color: #d9534f;
  font-style: italic;
}

.education .institution {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 1.3rem;
  width: 80%;
  color: #555;
  /* font-family: 'Times New Roman', Times, serif; */
  margin-top: 1.5rem;
  overflow-wrap: break-word;
}

.education__3 {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.experience {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: baseline;
  background-color: #eeeeee;
  gap: 1.5rem;
}

.experience .careerProfile {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.experience .careerProfile__heading {
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: .2rem;
  color: #7f0d46;
  padding-top: .5rem;
}

.experience .careerProfile::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  height: .1rem;
  width: 0%;
  z-index: 1;
  background-color: #7f0d46;
  transition: all .3s ease-in-out;
}

.experience .careerProfile:hover::after {
  width: 100%;
  cursor: default;
}

.experience .careerProfile__list {
  display: flex;
  flex-direction: column;
  height: 50%;
  gap: 1.1rem;
  color: #2b2b2b;
  list-style: circle;
  width: 90%;
  font-size: 1.2rem;
}

.experience .adminAssignment {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.experience .adminAssignment__heading {
  font-size: 2.6rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: .2rem;
  color: #7f0d46;
  padding-top: .5rem;
}

.experience .adminAssignment::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  height: .1rem;
  width: 0%;
  z-index: 1;
  background-color: #7f0d46;
  transition: all .3s ease-in-out;
}

.experience .adminAssignment:hover::after {
  width: 100%;
  cursor: default;
}

.experience .adminAssignment__list {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  color: #2b2b2b;
  list-style: circle;
  width: 90%;
  font-size: 1.2rem;
  height: 50%;
}

.experience .specialization {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.experience .specialization__heading {
  font-size: 2.6rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: .2rem;
  color: #7f0d46;
  padding-top: .5rem;
  text-align: center;

}

.experience .specialization::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  height: .1rem;
  width: 0%;
  z-index: 1;
  background-color: #7f0d46;
  transition: all .3s ease-in-out;
}

.experience .specialization:hover::after {
  width: 100%;
  cursor: default;
}

.experience .specialization__list {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  color: #2b2b2b;
  list-style: circle;
  width: 90%;
  font-size: 1.2rem;
  height: 50%;
}

.research {
  grid-column: -1/1;
  background-image: linear-gradient(to bottom, #eeeeee 55%, #fff);
}

.research__container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.research__ongoing {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 2rem;
}

.research__ongoing__heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 600;
  color: #c9302c;
  width: 50%;
  align-self: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #666;
}

.research__ongoing__list {
  display: flex;
  list-style: circle;
  flex-direction: column;
  gap: 2.5rem;
  align-items: baseline;
  font-size: 1.4rem;
  color: #5e5e5e;
  width: 90%;
}

.research__completed {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.research__completed__heading {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 600;
  color: #c9302c;
  width: 50%;
  align-self: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #666;
}

.research__completed__list {
  display: flex;
  list-style: circle;
  flex-direction: column;
  gap: 2.5rem;
  align-items: baseline;
  font-size: 1.4rem;
  color: #5e5e5e;
  width: 90%;
}

.patentsPubs {
  background-image: linear-gradient(to right bottom, #7f0d46, #A4243B, #d9534f);
  width: 100%;
  grid-column: 1/-1;
  text-align: center;
}

.patentsPubs__container {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  align-items: flex-start;
}

.patentsPubs__content__container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: baseline;
  padding: 0 2.5rem;
  border-right: 1px solid #fff;
}

.patentsPubs__heading {
  color: #eeeeee;
  font-size: 2.2rem;
  align-self: center;
  justify-self: center;
  outline: 0px solid #777;
  padding: 3rem .5rem;
  transition: all .1s ease-in;
}

.patentsPubs__heading:hover {
  outline: 3px solid #777;
  cursor: default;
  transform: scale(1.08);
}

.patentsPubs__list {
  list-style: circle;
  color: #c4c4c4;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;
  margin-left: 2.5rem;
  overflow-wrap: break-word;
}

.patentsPubs__list>li {
  margin-top: .5rem;
}

.publications {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  background-color: #eeeeee;
}

.publications__list {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 3rem;
  font-size: 1.2rem;
  list-style: circle;
  color: #1a1a1a;
}

.publications__heading {
  align-self: center;
  margin-top: 1.5rem;
  padding: 0 5rem;
  width: max-content;
  outline: 2px solid #A4243B;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.6);
}

.publications__heading:hover {
  outline-offset: 1rem;
  transform: scale(1.01);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

.book {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  background-color: #eeeeee;
}

.book__heading {
  align-self: center;
  margin-top: 3.5rem;
  padding: 0 5rem;
  width: max-content;
  outline: 2px solid #A4243B;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.6);
}

.book__heading:hover {
  outline-offset: 1rem;
  transform: scale(1.01);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

.book__list {
  display: grid;
  margin-left: 2.5rem;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  justify-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;
  color: #4d4d4d;
  overflow-wrap: break-word;
}

.awards {
  background-color: #A4243B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  justify-items: center;
  height: 100%;
}

@media only screen and (max-width: 43.75em) {
  .awards {
    grid-column: 1/-1;
  }
}

.awards__heading {
  font-size: 4rem;
  color: #eeeeee;
  border-bottom: 1px solid #fff;
  padding-bottom: 5rem;
}

.awards__list {
  font-size: 1.5rem;
  font-style: italic;
  color: #c4c4c4;
  line-height: 2rem;
  list-style: circle;
  margin-left: 2.5rem;
  overflow-wrap: break-word;
}

.awards__list li {
  margin-bottom: 2.5rem;
}

.association {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

@media only screen and (max-width: 43.75em) {
  .association {
    grid-column: 1/-1;
  }
}

.association__heading {
  font-size: 3rem;
  margin-top: -4rem;
  color: #777;
  border-bottom: 1px solid black;
  padding-bottom: 5rem;
}

@media only screen and (max-width: 43.75em) {
  .association__heading {
    margin: 0;
    padding: 0;
  }
}

.association__list {
  font-size: 1.5rem;
  font-style: italic;
  color: #666;
  line-height: 2rem;
  list-style: circle;
  overflow-wrap: break-word;
}

.association__list li {
  margin-bottom: 5rem;
}

.btn {
  width: 15rem;
  background-color: #7f0d46;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 5rem;
  text-decoration: none;
  font-size: 1.6rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  margin-top: 2rem;
  transition: all .3s ease-in-out;
}

.btn:hover {
  color: #7f0d46;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  outline: 1px solid #7f0d46;
}

.hamburger {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  position: fixed;
  z-index: 30;
  top: 0;
  right: 0;
  margin-right: 5rem;
  margin-top: 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  display: none;
}

@media only screen and (max-width: 40.625em) {
  .hamburger {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(2, 1fr);
    margin-right: 10rem;
  }
}

.hamburger__label {
  position: relative;
  display: inline-block;
  margin-top: 5rem;
  width: 60%;
  height: .6rem;
  background-color: white;
}

.hamburger__label::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  top: 1rem;
  left: -.08rem;
  transition: all .3s ease-in-out;
}

.hamburger__label::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  top: -1rem;
  transition: all .3s ease-in-out;
}

.hamburger__background {
  height: 11rem;
  width: 11rem;
  background-image: radial-gradient(ellipse, #7f0d46, #A4243B);
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  top: 0;
  transition: 1s all cubic-bezier(0.41, 0.49, 0.06, 0.98);
}

.hamburger__content {
  font-size: 5rem;
  color: white;
  height: 100vh;
  width: 0;
  transform: translate(-50vw);
  visibility: hidden;
}

@media only screen and (orientation: landscape) {
  .hamburger__content {
    font-size: 1.5rem;
  }
}

.hamburger__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  height: 100%;
}

@media only screen and (orientation: landscape) {
  .hamburger__list {
    gap: 5rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .hamburger__list {
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 3rem;
    text-align: center;
  }
}

.hamburger__link,
.hamburger__link:active {
  height: 100%;
  color: #fff;
  text-decoration: none;
  transition: all .3s ease-in-out;
}

@media only screen and (max-width: 43.75em) {

  .hamburger__link,
  .hamburger__link:active {
    font-size: inherit;
  }
}

.hamburger__link:hover {
  background-color: #eeeeee;
  color: #7f0d46;
}

.hamburger__check {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.hamburger__check:checked~.hamburger__background {
  transform: scale(80);
}

.hamburger__check:checked~.hamburger__label::after {
  transform: rotate(135deg);
  top: -1rem;
}

.hamburger__check:checked~.hamburger__label::before {
  transform: rotate(-135deg);
}

.hamburger__check:checked~.hamburger__label {
  background-color: transparent;
}

.hamburger__check:checked~.hamburger__content {
  visibility: visible;
}

.-u-before {
  position: relative !important;
  margin-bottom: 5rem !important;
  margin-left: .5rem !important;
}

.-u--white {
  color: white !important;
}

.-u-before::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: .1rem;
  background-color: #A4243B;
  z-index: 1;
  border-radius: 5%;
  transition: all .3s ease-in-out;
}

.-u-before:hover::before {
  width: 33rem !important;
}

.-u-ptop {
  padding-top: 2rem !important;
}

.-u--white {
  color: #fff !important;
  grid-column: 1/-1;
}

.-u--primary {
  color: #7f0d46 !important;
}